/* Coolors Exported Palette - https://coolors.co/32c2f5-e0431b-695097-ef6828-587bc9-c66354-fdb71f-6f4d97-3b9cca-6661a9 */


/* SCSS HEX */
$vivid-sky-blue: #32C2F5ff;
$cinnabar: #E0431Bff;
$ultra-violet: #695097ff;
  $orange-pantone: #EF6828ff;
$glaucous: #587BC9ff;
$jasper: #C66354ff;
$selective-yellow: #FDB71Fff;
$royal-purple: #6F4D97ff;
$celestial-blue: #3B9CCAff;
$ultra-violet-2: #6661A9ff;

/* SCSS HSL */
$vivid-sky-blue: hsla(196, 91%, 58%, 1);
$cinnabar: hsla(12, 78%, 49%, 1);
$ultra-violet: hsla(261, 31%, 45%, 1);
$orange-pantone: hsla(19, 86%, 55%, 1);
$glaucous: hsla(221, 51%, 57%, 1);
$jasper: hsla(8, 50%, 55%, 1);
$selective-yellow: hsla(41, 98%, 56%, 1);
$royal-purple: hsla(268, 32%, 45%, 1);
$celestial-blue: hsla(199, 57%, 51%, 1);
$ultra-violet-2: hsla(244, 30%, 52%, 1);

/* SCSS RGB */
$vivid-sky-blue: rgba(50, 194, 245, 1);
$cinnabar: rgba(224, 67, 27, 1);
$ultra-violet: rgba(105, 80, 151, 1);
$orange-pantone: rgba(239, 104, 40, 1);
$glaucous: rgba(88, 123, 201, 1);
$jasper: rgba(198, 99, 84, 1);
$selective-yellow: rgba(253, 183, 31, 1);
$royal-purple: rgba(111, 77, 151, 1);
$celestial-blue: rgba(59, 156, 202, 1);
$ultra-violet-2: rgba(102, 97, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-right: linear-gradient(90deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-bottom: linear-gradient(180deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-left: linear-gradient(270deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-top-right: linear-gradient(45deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-bottom-right: linear-gradient(135deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-top-left: linear-gradient(225deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-bottom-left: linear-gradient(315deg, #32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
$gradient-radial: radial-gradient(#32C2F5ff, #E0431Bff, #695097ff, #EF6828ff, #587BC9ff, #C66354ff, #FDB71Fff, #6F4D97ff, #3B9CCAff, #6661A9ff);
