<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
     style="min-height: 600px; height: 600px; background-image: url(assets/img/theme/hps.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-danger1 opacity-8"></span>
</div>

<div class="container-fluid mt--7">
  
  <div class="row">
    <div class="col-xl-12 order-xl-1" style="    margin-top: -300px !important;">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"></h3>
            </div>


          </div>
        </div>
        <div class="card-body">
          <style>
            .dtHorizontalExampleWrapper {
              max-width: 600px;
              margin: 0 auto;
            }

            #dtHorizontalExample th, td {
              white-space: nowrap;
            }

            table.dataTable thead .sorting:after,
            table.dataTable thead .sorting:before,
            table.dataTable thead .sorting_asc:after,
            table.dataTable thead .sorting_asc:before,
            table.dataTable thead .sorting_asc_disabled:after,
            table.dataTable thead .sorting_asc_disabled:before,
            table.dataTable thead .sorting_desc:after,
            table.dataTable thead .sorting_desc:before,
            table.dataTable thead .sorting_desc_disabled:after,
            table.dataTable thead .sorting_desc_disabled:before {
              bottom: .5em;
            }
          </style>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
          <script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
          <script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       
          <script>
            $(document).ready(function () {
              $('#dtHorizontalExample').DataTable({
                "scrollX": true
              });
              $('.dataTables_length').addClass('bs-select');
            });
          </script>
          <script>
            $(document).ready(function(){
                $('#myTable').dataTable();
            });
            </script>
            <script>
              new DataTable('#myTable', {
                layout: {
                    top1: 'searchPanes'
                }
            });
              </script>
          <main>
            <div class="position-relative">
              <!-- Hero for FREE version -->
              <section class="section section-lg section-hero section-shaped">
                <!-- Background circles -->
                <div class="shape shape-style-1 shape-primary">
                  <span class="span-150"></span>
                  <span class="span-50"></span>
                  <span class="span-50"></span>
                  <span class="span-75"></span>
                  <span class="span-100"></span>
                  <span class="span-75"></span>
                  <span class="span-50"></span>
                  <span class="span-100"></span>
                  <span class="span-50"></span>
                  <span class="span-100"></span>
                </div>
                <div class="container shape-container d-flex align-items-center py-lg">

                  <div class="col px-0">
                    <div class="app-container">
                      <div class="menu-bar">
                        <div class="menu-item">

                          <button type="button" (click)="onShow()" class="btn btn-primary btn-sm">Add</button>
                          <button type="button" *ngIf="isAddClicked  " (click)="onCloseFlowWindow()" class="btn btn-info btn-sm">Hide</button>
                          <button type="button" (click)="confirmTruncateTable()" class="btn btn-success btn-sm">Truncate Table</button>
                          <button type="button"  (click)="onShow1()" class="btn btn-danger btn-sm">Upload File</button>
                          <button type="button" *ngIf="isAddClicked1 "  (click)="onCloseFlowWindow1()"class="btn btn-info btn-sm">Hide</button>
                          <button type="button"  (click)="onShow2()" class="btn btn-info btn-sm">Upload Configuration File</button>
                          <button type="button" *ngIf="isAddClicked2 "  (click)="onCloseFlowWindow2()"class="btn btn-info btn-sm">Hide</button>


                        </div>
                      </div>
                      <div *ngIf="isAddClicked  " class="flow-window">
                        <div class="card" style="max-height: 120%;max-width: 150%; ">
                          <div class="card-body">

                            <div class="form-container">
                              <div class="row">
                                <div class="col">
                                  <div class="form-group row">

                                    <label for="wording" class="col-sm-6 col-form-label col-form-label-sm">Wording:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="wording" placeholder="" [(ngModel)]="wording"
                                             class="form-control form-control-sm" #name="ngModel" required>

                                      <span class="text-danger" *ngIf="name.touched && name.errors?.required">*Wording is required</span>
                                    </div>
                                  </div>


                                  <div class="form-group row">
                                    <label for="message_type" class="col-sm-6 col-form-label col-form-label-sm">Message Type:</label>
                                    <div class="col-sm-6">
                                      <select id="message_type" [(ngModel)]="selectedDescription1" class="form-control form-control-sm" #messageType="ngModel" required>
                                        <option value="">-- Select a Message Type --</option>
                                        <option *ngFor="let code of message_type" [value]="code.code">{{ code.description }}</option>
                                      </select>
                                      <span class="text-danger" *ngIf="messageType.touched && messageType.errors?.required">*Message Type is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_003" class="col-sm-6 col-form-label col-form-label-sm">Processing Code (003):</label>
                                    <div class="col-sm-6">
                                      <select id="onl_de_003" [(ngModel)]="selectedDescription" class="form-control form-control-sm" #processingCode="ngModel" required>
                                        <option value="">-- Select a processing code --</option>
                                        <option *ngFor="let code of processingCodes" [value]="code.code">{{ code.description }}</option>
                                      </select>
                                      <span class="text-danger" *ngIf="processingCode.touched && processingCode.errors?.required">*Processing Code is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_004" class="col-sm-6 col-form-label col-form-label-sm">Amount of Transaction (004):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_004" placeholder="" [(ngModel)]="onl_de_004" class="form-control form-control-sm">
                                      <div *ngIf="!isValidOnlDe004()" class="error-message text-danger">{{ errorMessage }}</div>
                                    </div>
                                  </div>


                                  <div class="form-group row">
                                    <label for="onl_de_007" class="col-sm-6 col-form-label col-form-label-sm">Transmission date & time (007):</label>
                                    <div class="col-sm-6">
                                      <input type="datetime-local" id="onl_de_007" placeholder="" [(ngModel)]="onl_de_007" step="1" class="form-control form-control-sm" #transmissiondate="ngModel" required>
                                      <span class="text-danger" *ngIf="transmissiondate.touched && transmissiondate.errors?.required">*Transmission date & time is required</span>
                                    </div>
                                  </div>


                                  <div class="form-group row">
                                    <label for="onl_de_011" class="col-sm-6 col-form-label col-form-label-sm">System trace audit number (STAN) (011):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_011" placeholder="" [(ngModel)]="onl_de_011" class="form-control form-control-sm" #stan="ngModel" required maxlength="6">
                                      <span class="text-danger" *ngIf="stan.touched && stan.errors?.required">*STAN Type is required</span>
                                    </div>
                                  </div>


                                  <div class="form-group row">
                                    <label for="onl_de_012" class="col-sm-6 col-form-label col-form-label-sm">Local transaction time (012):</label>
                                    <div class="col-sm-6">
                                      <input type="time" id="onl_de_012" placeholder="" #localTransactionTime="ngModel"
                                             required [(ngModel)]="onl_de_012" step="1" class="form-control form-control-sm">
                                      <span class="text-danger"
                                            *ngIf="localTransactionTime.touched && localTransactionTime.errors?.required">*Local transaction time is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_013" class="col-sm-6 col-form-label col-form-label-sm">Date de transaction locale (013):</label>
                                    <div class="col-sm-6">
                                      <input type="date" id="onl_de_013" placeholder=""
                                             (change)="parseDate()" [(ngModel)]="onl_de_013"
                                             class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_035" class="col-sm-6 col-form-label col-form-label-sm">Track 2 data (035):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_035" placeholder="" #track2="ngModel" required
                                             [(ngModel)]="onl_de_035" maxlength="19"  class="form-control form-control-sm">
                                      <span class="text-danger" *ngIf="track2.touched && track2.errors?.required">*Track 2 data is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_037" class="col-sm-6 col-form-label col-form-label-sm">Retrieval reference number (037):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_037" placeholder="" #retrievalRef="ngModel" required
                                             [(ngModel)]="onl_de_037" maxlength="12"  class="form-control form-control-sm">
                                      <span class="text-danger"
                                            *ngIf="retrievalRef.touched && retrievalRef.errors?.required">*Retrieval reference number is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_038" class="col-sm-6 col-form-label col-form-label-sm">Authorization identification response (038):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_038" placeholder="" #authResponse="ngModel" required
                                             [(ngModel)]="onl_de_038" maxlength="6"  class="form-control form-control-sm">
                                      <span class="text-danger"
                                            *ngIf="authResponse.touched && authResponse.errors?.required">*Authorization identification response is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_041" class="col-sm-6 col-form-label col-form-label-sm">Card acceptor terminal ID (041):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_041" placeholder="" #acceptorID="ngModel" required
                                             class="form-control form-control-sm" [(ngModel)]="onl_de_041">
                                      <span class="text-danger"
                                            *ngIf="acceptorID.touched && acceptorID.errors?.required">*Card acceptor terminal ID is required</span>
                                    </div>
                                  </div>
                                </div>
                                  <div class="col">

                                  <div class="form-group row">
                                    <label for="financial_constitution_id" class="col-sm-6 col-form-label col-form-label-sm">financial_constitution_id:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="financial_constitution_id" placeholder="" #financialID="ngModel" required  class="form-control form-control-sm" [(ngModel)]="financial_constitution_id">
                                      <span class="text-danger" *ngIf="financialID.touched && financialID.errors?.required">*Financial constitution ID is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="logical_network" class="col-sm-6 col-form-label col-form-label-sm">logical_network:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="logical_network" placeholder="" #logicalNetwork="ngModel" required  class="form-control form-control-sm" [(ngModel)]="logical_network">
                                      <span class="text-danger" *ngIf="logicalNetwork.touched && logicalNetwork.errors?.required">*Logical network is required</span>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_125" class="col-sm-6 col-form-label col-form-label-sm">Routing ID (125):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_125" placeholder="" [(ngModel)]="onl_de_125" (blur)="formatOnlDe125()" maxlength="10"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_124" class="col-sm-6 col-form-label col-form-label-sm">Info Text (124):</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_124" placeholder="" [(ngModel)]="onl_de_124" maxlength="9"  class="form-control form-control-sm" minlength="9">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="activity_flag" class="col-sm-6 col-form-label col-form-label-sm">Activity_flag:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="activity_flag" placeholder="" [(ngModel)]="activity_flag" [value]="defaultValues.activity_flag"  class="form-control form-control-sm">
                                    </div>
                                  </div>



                                  <div class="form-group row">
                                    <label for="send_count" class="col-sm-6 col-form-label col-form-label-sm">Send_count:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="send_count" placeholder="" [(ngModel)]="send_count" [value]="defaultValues.send_count"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="delay_time" class="col-sm-6 col-form-label col-form-label-sm">Delay_time:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="delay_time" placeholder="" [(ngModel)]="delay_time" [value]="defaultValues.delay_time"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="chunk_delay" class="col-sm-6 col-form-label col-form-label-sm">Chunk_delay:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="chunk_delay" placeholder="" [(ngModel)]="chunk_delay" [value]="defaultValues.chunk_delay"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="response_flag" class="col-sm-6 col-form-label col-form-label-sm">Response_flag:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="response_flag" placeholder="" [(ngModel)]="response_flag" [value]="defaultValues.response_flag"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="reversal_flag" class="col-sm-6 col-form-label col-form-label-sm">Reversal_flag:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="reversal_flag" placeholder="" [(ngModel)]="reversal_flag" [value]="defaultValues.reversal_flag"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_018" class="col-sm-6 col-form-label col-form-label-sm">Merchant category code(Onl_de_018)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_018" placeholder="" [(ngModel)]="onl_de_018" [value]="defaultValues.onl_de_018"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_024" class="col-sm-6 col-form-label col-form-label-sm">Function code(Onl_de_024))</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_024" placeholder="" [(ngModel)]="onl_de_024" [value]="defaultValues.onl_de_024"  class="form-control form-control-sm">
                                    </div>
                                  </div>
                                  </div>

                                <div class="col">

                                  <div class="form-group row">
                                    <label for="onl_de_027" class="col-sm-6 col-form-label col-form-label-sm">Authorizing identification response length(Onl_de_027)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_027" placeholder="" [(ngModel)]="onl_de_027" [value]="defaultValues.onl_de_027"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_032" class="col-sm-6 col-form-label col-form-label-sm">Acquiring institution identification code(Onl_de_032)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_032" placeholder="" [(ngModel)]="onl_de_032" [value]="defaultValues.onl_de_032"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_039" class="col-sm-6 col-form-label col-form-label-sm">Response code(Onl_de_039)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_039" placeholder="" [(ngModel)]="onl_de_039" [value]="defaultValues.onl_de_039"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_043" class="col-sm-6 col-form-label col-form-label-sm">Card acceptor name/location(Onl_de_043)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_043" placeholder="" [(ngModel)]="onl_de_043" [value]="defaultValues.onl_de_043"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_048" class="col-sm-6 col-form-label col-form-label-sm">Additional data(Onl_de_048)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_048" placeholder="" [(ngModel)]="onl_de_048" [value]="defaultValues.onl_de_048"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_049" class="col-sm-6 col-form-label col-form-label-sm">Currency code,transaction(Onl_de_049)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_049" placeholder="" [(ngModel)]="onl_de_049" [value]="defaultValues.onl_de_049"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_057" class="col-sm-6 col-form-label col-form-label-sm">Reserved (national)(Onl_de_057)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_057" placeholder="" [(ngModel)]="onl_de_057" [value]="defaultValues.onl_de_057"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_061" class="col-sm-6 col-form-label col-form-label-sm">Reserved (private)(Onl_de_061)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_061" placeholder="" [(ngModel)]="onl_de_061" [value]="defaultValues.onl_de_061"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="onl_de_100" class="col-sm-6 col-form-label col-form-label-sm">Receiving institution identification code(Onl_de_100)</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="onl_de_100" placeholder="" [(ngModel)]="onl_de_100" [value]="defaultValues.onl_de_100"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="user_create" class="col-sm-6 col-form-label col-form-label-sm">User_create:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="user_create" placeholder="" [(ngModel)]="user_create" [value]="defaultValues.user_create"  class="form-control form-control-sm">
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label for="user_modif" class="col-sm-6 col-form-label col-form-label-sm">User_modif:</label>
                                    <div class="col-sm-6">
                                      <input type="text" id="user_modif" placeholder="" [(ngModel)]="user_modif" [value]="defaultValues.user_modif" class="form-control form-control-sm">
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group button-group">
                            <button class="btn btn-info" (click)="onInsertButtonClick1()">Insérer</button>
                          </div>
                          <div class="form-group button-group">
                            <button class="btn btn-info" (click)="onInsertButtonClick()">Update save</button>
                          </div>


                        </div>
                        <div *ngIf="successMessage" class="success-message">
                          {{ successMessage }}
                        </div>
                      </div>
                      <!-- <div class="mb-3" *ngIf="isAddClicked1">
                        <label for="formFile" class="form-label">Ajouter des fichiers</label>
                        <input class="form-control" multiple type="file" id="formFile" (change)="onFileChange($event)">
                        <button class="btn btn-outline-success btn-sm" (click)="parseFiles()">Parse Files</button>
          
                      </div> -->
                      <form *ngIf="isAddClicked1">
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Ajouter des fichiers</label>
                          <input multiple type="file" class="form-control" id="formFile" (change)="onFileChange($event)"> 
                        </div> 
      
                        <div class="form-floating mb-3">
                          <textarea class="form-control" disabled placeholder="Leave a comment here" id="configurationExemple" style="height: 400px">

                        [
                          {
                            "authorizer_id": "ZAMS",
                            "network_code": "23",
                            "min": "4724580000000000",
                            "max": "4724589999999999",
                            "card_number": "4724580000000008"
                          },
                          {
                            "authorizer_id": "MDS",
                            "network_code": "02",
                            "min": "5164180000000000",
                            "max": "5164189999999990",
                            "card_number": "5164180000000001"
                          }
                        ]

                        Tu peux ajouter plusieurs configurations de cartes
                      </textarea>
                          <label for="configurationExemple">Configuration Exemple</label>
                        </div>
                        
                        
                        
                        <div class="mb-3">
                          <label for="configuration">Configuration</label>
                          <textarea class="form-control" placeholder="Ajouter configurations des cartes" id="configuration" style="height: 100px"></textarea>
                        </div>

                
                       
                        <button type="submit"  (click)="parseFiles()" class="btn btn-primary">Generate Scripts</button>
                      </form>
                      <div class="mb-3" *ngIf="isAddClicked2">
                        <label for="formFile1" class="form-label">Ajouter des fichiers de configuration</label>
                        <input class="form-control" multiple type="file" id="formFile1" (change)="onFileChange($event)">
                        <button class="btn btn-outline-info btn-sm" (click)="parseFilesConfig()">Parse Config Files</button>
                      </div>


                    </div>

                    <br>
                    <br>
                    <br>
                   <div class="card">
                      <div class="control-section">
                        <table class="table table-responsive table-striped nowrap" style="width: 100%; font-size: 10px; overflow-x: auto;" id="myTable">
                          <thead class="table-dark">

                            <tr>
                              <th>Message Seq</th>
                              <th>SIM Environment</th>
                              <th>Wording</th>
                              <th>Message Type</th>
                              <th>Onl De 004</th>
                              <th>Onl De 003</th>
                              <th>Onl De 011</th>
                              <th>Onl De 035</th>
                              <th>Onl De 037</th>
                              <th>Onl De 038</th>
                              <th>Onl De 041</th>
                              <th>Onl De 042</th>
                              <th>Onl De 060</th>
                              <th>Onl De 125</th>
                              <th>Onl De 124</th>
                              <th>Onl De 124 part1</th>
                              <th>Onl De 012</th>
                              <th>Onl De 013</th>
                              <th>Onl De 007</th>
                              <th>Logical Network</th>
                              <th>Financial Constitution ID</th>
                              <th>Deleting</th>
                              <th>Activity Flag</th>
                              <th>Send Count</th>
                              <th>Delay Time</th>
                              <th>Chunk Delay</th>
                              <th>Response Flag</th>
                              <th>Reversal Flag</th>
                              <th>Onl De 018</th>
                              <th>Onl De 024</th>
                              <th>Onl De 027</th>
                              <th>Onl De 032</th>
                              <th>Onl De 039</th>
                              <th>Onl De 043</th>
                              <th>Onl De 048</th>
                              <th>Onl De 049</th>
                              <th>Onl De 057</th>
                              <th>Onl De 061</th>
                              <th>Onl De 100</th>
                              <th>User Create</th>
                              <th>User Modify</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of data">
                              <td>{{ item.msg_seq }}</td>
                              <td>{{ item.sim_env }}</td>
                              <td>{{ item.wording }}</td>
                              <td>{{ item.message_type }}</td>
                              <td>{{ item.onl_de_004 }}</td>
                              <td>{{ item.onl_de_003 }}</td>
                              <td>{{ item.onl_de_011 }}</td>
                              <td>{{ item.onl_de_035 }}</td>
                              <td>{{ item.onl_de_037 }}</td>
                              <td>{{ item.onl_de_038 }}</td>
                              <td>{{ item.onl_de_041 }}</td>
                              <td>{{ item.onl_de_042 }}</td>
                              <td>{{ item.onl_de_060 }}</td>
                              <td>{{ item.onl_de_125 }}</td>
                              <td>{{ item.onl_de_124 }}</td>
                              <td>{{ item.onl_de_124_part1 }}</td>
                              <td>{{ item.onl_de_012 }}</td>
                              <td>{{ item.onl_de_013 }}</td>
                              <td>{{ item.onl_de_007 }}</td>
                              <td>{{ item.logical_network }}</td>
                              <td>{{ item.financial_constitution_id }}</td>
                              <td>{{ item.deleting }}</td>
                              <td>{{ item.activity_flag }}</td>
                              <td>{{ item.send_count }}</td>
                              <td>{{ item.delay_time }}</td>
                              <td>{{ item.chunk_delay }}</td>
                              <td>{{ item.response_flag }}</td>
                              <td>{{ item.reversal_flag }}</td>
                              <td>{{ item.onl_de_018 }}</td>
                              <td>{{ item.onl_de_024 }}</td>
                              <td>{{ item.onl_de_027 }}</td>
                              <td>{{ item.onl_de_032 }}</td>
                              <td>{{ item.onl_de_039 }}</td>
                              <td>{{ item.onl_de_043 }}</td>
                              <td>{{ item.onl_de_048 }}</td>
                              <td>{{ item.onl_de_049 }}</td>
                              <td>{{ item.onl_de_057 }}</td>
                              <td>{{ item.onl_de_061 }}</td>
                              <td>{{ item.onl_de_100 }}</td>
                              <td>{{ item.user_create }}</td>
                              <td>{{ item.user_modif }}</td>
                              <td>
                                <button (click)="onDeleteBts(item.msg_seq)" class="btn btn-danger btn-sm">
                                  <span>X</span>
                                </button>
                                <button (click)="onAddButtonClick(item); onShow()" class="btn btn-primary btn-sm">
                                  <span>Modifier</span>
                                </button>
                                <button (click)="onAddButtonClickSQL(item.msg_seq)" class="btn btn-info btn-sm">
                                  <span>SQL file</span>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                    
                      
                     
                    <div class="form-group button-group">
                      <button class="btn btn-info btn-sm" (click)="onClick()">SQL Result</button>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </main>
        </div>
      </div>
    </div>
  </div>
</div>
