.grid-container {
  font-size: 10px;
}
.e-grid .e-headercelldiv {
  border: 0 none;
  display: block;
  font-size: 10px;
  font-weight: 500;
  height: 29px;
  line-height: 30px;
  margin: -7px;
  overflow: hidden;
  padding: 0 0.6em;
  text-align: left;
  text-transform: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: #fafafa;

}
